/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$rust: #D87337;
$illeniumRed: #F6450E;
$illeniumRedopacity: #FDD0C2;
$kendrickblue: #366F91;
$kendrickblueopacity: #CDDBE4;
