/* =============
    Header
============= */

header {
  position: fixed;
  width: 100%;
  background-color: $white;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "header";
  padding: 10px 0;
  z-index: 1000;

  > div {
    grid-area: header;
    display: flex;
    justify-content: flex-end;

    #burger-container {
      svg {
        height: 44px;
        cursor: pointer;
        // padding-right: 20px;
      }
    }
  }

  #record-player{
    visibility: hidden;
  }
}
