/* =============
    Base
============= */

figure {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }

}


// body{
//   overflow: hidden;
// }

.section-content {
  padding: 40px 0;
  @include md {
    padding: 50px 0;
  }
}
// .music-player{
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-template-rows: repeat(2, 1fr);
//   grid-template-areas:
//   "album info"
//   "player . ";
// }

.music-player {
  >div {
    display: flex;
    flex: 2;
    flex-direction: row;
    padding-top: rem-calc(21);
    // grid-template-columns: 50% auto;
    // grid-template-areas: "album .""album .";

    img {
      // grid-area: album;
      height: 25vh;
      padding-left: 23px;
    }
  }
}






































// .music-player{
//   display: grid;
//   grid-template-columns: 50%, auto;
//   // grid-template-rows: (2, 40vh);
//   grid-template-areas:
//   "album info";
//
//
//   aside{
//     grid-area:album;
//   }
//
//   div{
//     grid-area: info;
//   }
//
//
//   article{
//     grid-area: player;
//   }
//
//
//
// }
