/* =============
    Typography
============= */

body{
    font-family: 'ebony', sans-serif;
    line-height: 28px;
}

h1{
    font-family: 'itc-avant-garde-pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    // padding-bottom: 50px;
}

h3{
    font-family: 'itc-avant-garde-pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    // padding-bottom: 18px;
    padding-top: 10px;
    line-height:17px;
}

h2{
  font-size: 20px;
}

h4{
  font-family: 'itc-avant-garde-pro', sans-serif;
  font-weight: 500;
  font-style: normal;
  // padding-bottom: 18px;
  line-height: 25px;
}


h5{
  font-family: 'itc-avant-garde-pro', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: rem-calc(116);
  opacity: .25;
}

h1,h2,h3,h4,p{
    padding-left: 23px;
    padding-right: 23px;
    margin: 0;
}

p{
  line-height: 18px;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
