/* =============
    Navigation background
============= */
#nav-bg{
  position: fixed;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  background-image: url("../assets/vinyl-record-opacityv2.png");
  background-position: center;
  background-size: cover;
  background-color: $black;

  // opacity: 50%;
  z-index:15;
  top: 15px;
  right: 19px;
}
