/* =============
    Navigation background
============= */
#nav-bg{
  position: fixed;
  height: 40px;
  width: 40px;
  top: -70px;
  right: 15px;
  border-radius: 100px;
  background-image: url("../assets/vinyl-record-opacityv2.png");
  background-position: center;
  background-size: cover;
  background-color: $black;
  z-index:15;


  @include xl{
    top: 15px;
    right: 19px;
  }

}
