/* =============
    Navigation
============= */

nav {
  position: fixed;
  z-index: 20;
  align-items: center;
  right: 10px;
  top: 130px;
  @include xl {
    top: 0;
    right: 20px;
    height: 100vh;
  }

  ul {
    padding: 100px 0 0 20px;

    li {
      list-style-type: none;
      line-height: 40px;
      @include xl {
        margin-bottom: 20px;
        line-height: 30px;
      }

      a:link,
      a:visited {
        color: $white;
        text-decoration: none;
        transition: 0.25s;
      }
    }
  }
}
