/* =============
    illenium
============= */

#illenium {
  div {
    display: grid;
    grid-template-areas: "text ." "text .";
    grid-template-columns: 50% auto;
    position: relative;
    // grid-template-rows:
    article {
      padding-top: 25px;
      grid-area: text;
      @include md {
        padding-top: 50px;
      }

      h1 {
        color: $illeniumRed;
      }

      div {
        position: relative;
        /** number 5 **/
        aside {
          position: absolute;
          height: 100px;
          width: 100px;
          top: 0;
          left: -20px;
          @include md {
            bottom: 60px;
            left: -28px;
          }

          h5 {
            color: $illeniumRed;
            margin: 0;
          }
        }
      }

      p {
        @include md{
          padding-bottom: 300px;
        }
        span {
          display: none;
          @include xl {
            display: inherit;
            padding-top: 15px;
          }
        }
      }
    }

    aside {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: -9px;
      // padding-left: 20px;
      // left: 700;
      @include md {
        right: 40px;
        // margin-bottom: -9px;
      }
      @include lg {
        // margin-bottom: -9px;
      }

      img {
        height: 52vh;
        @include md {
          height: 52vh;
        }
        @include lg {
          height: 120vh;
        }
        @include xl {
          height: 120vh;
        }
      }
    }
  }
}
/* =============
    music player
============= */

#ascend {
  background-color: $illeniumRedopacity;
  margin-bottom: rem-calc(100);
  // @include md{
  //   margin-bottom: rem-calc(150);
  // }
  h2 {
    color: $illeniumRed;
  }

  p {
    padding-top: 45px;
    padding-bottom: 0;
    @include md {
      padding-top: 90px;
      padding-bottom: 0;
    }
    @include xl {
      // padding-top: 230px;
      padding-bottom: 0;
    }
  }

  article {
    padding-top: 20px;
    padding-bottom: rem-calc(21);
  }
  @include md {
    // margin: 0 38px;
    margin-left: 38px;
    margin-right: 38px;
    // margin-bottom: 230px;
  }
  @include lg {
    margin-bottom: 300px;
  }
  @include xl {
    margin-left: 180px;
  }
}
