/* =============
    illenium
============= */

#illenium {
  div {
    display: grid;
    grid-template-areas: "text ." "text .";
    grid-template-columns: 50% auto;
    position: relative;

    // grid-template-rows:
    article {
      padding-top: 25px;
      grid-area: text;
      @include md{
        padding-top: 50px;
      }

      h1 {
        color: $illeniumRed;
      }

      div {
        position: relative;

        aside {
          position: absolute;
          height: 100px;
          width: 100px;
          top: 0;
          left: -20px;
          @include md{
            bottom: 60px;
            left: -28px;
          }

          h5 {
            color: $illeniumRed;
            margin: 0;

          }
        }
      }
    }

    p {
      span {
        display: none;
      }
    }

    aside {
      // grid-area: image;
      // position: relative;
      position: absolute;
      bottom: 0;
      right: 0;
      @include md{
                right: 40px;
      }

      img {
        height: 50vh;
        @include md{
          height: 48vh;

        }

        @include lg{
          height: 120vh;
        }
      }
    }
  }
}
/* =============
    music player
============= */

#ascend {
  background-color: $illeniumRedopacity;
  @include md{
    margin: 0 38px;
    // padding-top: 20px;
  }

  h2 {
    color: $illeniumRed;
  }

  article {
    padding-top: 20px;
    padding-bottom: rem-calc(21);
  }
}














// @include xl {
//     display: grid;
//     grid-template-areas: ". believe-content .";
//     grid-template-columns: auto 1200px auto;
// }
//
// div {
//     @include md {
//         display: grid;
//         grid-template-areas: "believe-img believe-text";
//         grid-template-columns: 45% auto;
//     }
//     @include xl {
//         grid-area: believe-content;
//     }
//
//     section {
//         display: grid;
//         grid-template-areas: ". believe .";
//         grid-template-columns: 20px auto 20px;
//         @include md {
//             grid-area: believe-text;
//         }
//
//         > div {
//             grid-area: believe;
//             text-align: center;
//             @include md {
//                 align-items: center;
//                 display: flex;
//             }
//
//             article {
//                 border-bottom: 3px solid $rust;
//                 border-top: 3px solid $rust;
//                 padding: 20px 0;
//
//                 h1 {}
//
//                 p {}
//             }
//         }
//     }
//
//     aside {
//         background-image: url("../img/believe/believe.jpg");
//         background-size: cover;
//         height: 90vh;
//         margin-top: 40px;
//         @include md {
//             grid-area: believe-img;
//             height: 50vh;
//             margin-top: 0;
//         }
//     }
// }
