/* =============
    illenium
============= */

#kendrick {
  div {
    display: grid;
    grid-template-areas: ". text" ". text";
    grid-template-columns: 50% auto;
    position: relative;
    // grid-template-rows:
    article {
      padding-top: 25px;
      grid-area: text;
      @include md {
        padding-top: 50px;
      }

      h1 {
        color: $kendrickblue;
      }

      div {
        position: relative;
        /** number 4 **/
        aside {
          position: absolute;
          height: 100px;
          width: 100px;
          top: 0;
          // left: -35;
          right: -5;
          @include md {
            bottom: 60px;
            left: 0px;
            right: -11px;
          }
          h5 {
            color: $kendrickblue;
            margin: 0;
          }
        }
      }

      p {
        span {
          display: none;
          @include xl {
            display: inherit;
            padding-top: 15px;
          }
        }
      }
    }

    aside {
      position: absolute;
      bottom: 0;
      // top: 20;
      // right: 1;
      // left: 700;
      @include md {
        // right: 0px;
      }

      img {
        height: 55vh;
        @include md {
          height: 55vh;
        }
        @include lg {
          height: 120vh;
        }
        @include xl {
          height: 120vh;
        }
      }
    }
  }
}
/* =============
    music player
============= */

#good-kid {
  background-color: $kendrickblueopacity;

  h2 {
    color: $kendrickblue;
  }
  p{
    padding-top: 36px;
    padding-bottom: 0;
    @include md{
      padding-top: 85px;
      padding-bottom: 0;
    }
    // @include md{
    //   padding-bottom: 0;
    // }
  }

  article {
    padding-top: 20px;
    padding-bottom: rem-calc(21);
  }
  @include md {
    margin: 0 38px;
    // padding-top: 20px;
  }
  @include xl {
    margin-left: 180px;
  }
}
