/* =============
    illenium
============= */

#kendrick {
  div {
    display: grid;
    grid-template-areas: "text ." "text .";
    grid-template-columns: 50% auto;
    position: relative;
    // grid-template-rows:
    article {
      padding-top: 25px;
      grid-area: text;
      @include md {
        padding-top: 50px;
      }

      h1 {
        color: $illeniumRed;
      }

      div {
        position: relative;
        /** number 5 **/
        aside {
          position: absolute;
          height: 100px;
          width: 100px;
          top: 0;
          left: -20px;
          @include md {
            bottom: 60px;
            left: -28px;
          }
          h5 {
            color: $illeniumRed;
            margin: 0;
          }
        }
      }

      p {
        span {
          display: none;
          @include xl {
            display: inherit;
            padding-top: 15px;
          }
        }
      }
    }

    aside {
      position: absolute;
      bottom: 0;
      right: 0;
      // left: 700;
      @include md {
        right: 40px;
      }

      img {
        height: 52vh;
        @include md {
          height: 48vh;
        }
        @include lg {
          height: 120vh;
        }
        @include xl {
          height: 120vh;
        }
      }
    }
  }
}
/* =============
    music player
============= */

#good-kid {
  background-color: $illeniumRedopacity;

  h2 {
    color: $illeniumRed;
  }

  article {
    padding-top: 20px;
    padding-bottom: rem-calc(21);
  }
  @include md {
    margin: 0 38px;
    // padding-top: 20px;
  }
  @include xl {
    margin-left: 180px;
  }
}
